.shelf {
    list-style-type: none;
    display:  flex;

    li {
        cursor: pointer;
        margin: .5rem;
        padding: .3rem 0;
        border-radius: 4px;
    }

    .badge {
        font-size: smaller;
        padding: .5rem;
        background-color: #607D8B;
        color: white;
    }
}
